<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <script src="https://kit.fontawesome.com/4a2ac977a6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(window).ready(() => {

            $('.order').click(() => {
                $('.order-overlay').fadeIn()
            })
            
            $('.close').click(() => {
                $('.order-overlay').fadeOut()
            })
        })
    </script>
</head>
<body>
    <div class="topnav">
        <div class="list">
            <ul>
                <li>
                    <img class="me-5" src="img/kindpng_649000.png" alt="" width="40">
                </li>
            </ul>
            <ul>
                <li><a href="/home" class="text-decoration-none text-light fw-bold">Home</a></li>
                <li><a href="/product" class="text-decoration-none text-light fw-bold">Product</a></li>
                <li><a href="#" class="order text-decoration-none text-light fw-bold">Order</a></li>
                <li><a href="/bukutamu" class="text-decoration-none text-light fw-bold">Guest Book</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid position-relative">
        <h1 class="text-center mt-3 fs-1">Beauty Center<i class="fa fa-heart" aria-hidden="true"></i></h1>
        <h6 class="text-center ">Est. 2022</h6>
        <div class="order-overlay">
            <div class="order-container">
                <div class="order-wrapper">
                    <span class="ribbon">
                        <i class="fas fa-ribbon fa-6x  "></i>
                    </span>
                    <div class="order-title">Order Form</div>
                    <input type="text" placeholder="Name">
                    <input type="text" placeholder="Phone number">
                    <input type="submit" value="Submit" class="button btn btn-dark">
                    <div class="close">
                        <span class="close-1">+</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="background">
            <img src="img/makeup.jpg" alt="">
            <div class="image-title">
                <h1>Enhance Your Beauty</h1>
                <span class="line"></span>
                <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias inventore perferendis nulla molestiae ratione magni aliquid labore consectetur, nisi minus.</h6>
            </div>
        </div>
        <div class="featured fw-bold">
            <p>Featured Product</p>
        </div>
        <div class="cardmenu">
            <div class="card" style="width: 18rem;">
                <img src="img/circumfence.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Circumfence Face Oil</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="img/novolipmud.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Novo Lip Mud</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="img/tower28.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tower28 Beauty Blush</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="footer w-100">
            <ul>
                <li><a href="#"><i class="twitter fa fa-twitter fa-xl" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="instagram fa fa-instagram fa-xl" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="facebook fa fa-facebook-square fa-xl" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>